<thead>
    <tr role="row">
        <th>Order ID</th>
        <th>Customer</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Order Date</th>
        
        <th>Total</th>
        <th>Remaing amount</th>
        <th>Payment Mode</th>
        <th>Action</th>

    </tr>
</thead>
<tbody>
    {% for cus in non_room_user %}

    <tr class="odd" role="row">
        <td class="sorting_1" id="user_id">{{cus.order_id}}</td>
        <td>{{cus.full_name}}</td>
        <td>{{cus.phone_number}}</td>
        <td>{{cus.email}}</td>
        <td>{{cus.order_date}}</td>
        <td>{{cus.total}}</td>
        <td>{{cus.remaing_amount}}</td>
        <td>{{cus.Payment_mode}}</td>
       
      
        



        <td>
                <a class="btn btn-primary" href="{% url 'withoutroom_update' cus.id %}"
                    class="my-4 update_customer"><i
                        class="fa fa-pencil color-muted"></i> Order Update</a>
                
                        <a class="btn btn-warning" href="{% url 'withoutroom_delete' cus.id %}"><i
                        class="fa fa-close color-danger"></i>Delete</a>
        </td>
    </tr>

    {% endfor %}
</tbody>



<div class="col-sm-12 col-xl-6">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Basic Accordion</h6>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item bg-transparent">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        Accordion Item #1
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show"
                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Gubergren justo eos magna eirmod lorem magna, amet dolores ipsum sadipscing ipsum consetetur invidunt et clita diam, vero dolor dolor est eirmod. Rebum accusam amet ipsum et. Et et lorem sanctus amet eos eos elitr ea, sanctus magna et et sed eos sit takimata sadipscing, dolor rebum sed stet vero.
                    </div>
                </div>
            </div>
            <div class="accordion-item bg-transparent">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        Accordion Item #2
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse"
                    aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Voluptua sit dolores consetetur ea et diam est et takimata. Et erat sadipscing dolores et stet diam ut ut diam, sit aliquyam no magna et dolore lorem dolor sit. Lorem lorem sed sed duo, eirmod sit diam ipsum sit erat, lorem sit dolor diam amet ea aliquyam tempor rebum invidunt,.
                    </div>
                </div>
            </div>
            <div class="accordion-item bg-transparent">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                        Accordion Item #3
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse"
                    aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Dolore eos dolor tempor justo sea eos amet eos kasd dolor, et diam tempor lorem dolores vero. Stet dolore gubergren nonumy diam. Consetetur sit takimata magna invidunt, dolore sea amet consetetur ea et rebum, invidunt et amet sit sea. Dolor eirmod sed magna sadipscing sadipscing lorem lorem sed, sit lorem.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{{customer_form}}
{{book_form}}