{% extends 'base.html' %}


{% block content %}
<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade bd-example-modal-lg"  id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-dark"  >Check out </h5>

            <span id="prev_room_disc" class=" mx-3 badge badge-lg  badge-outline-primary h5"></span>
            <span id="prev_restu_disc" class=" mx-3 badge  badge-lg  badge-outline-success h5"></span>


            <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
            </button>
        </div>
        <div class="modal-body" style="background-color:black">
            {% include "roomapp/check_out.html" %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary"  data-dismiss="modal">Close</button>
            <!-- <button type="button" id="calculate" class="btn btn-primary">Calculate</button> -->
            <button type="button" id="rms_chk" class="btn btn-primary">Procced To Checkout</button>
        </div>
      </div>
    </div>
  </div>
  
<!-- Modal Add Category -->
<div class="modal fade none-border" id="x_payment">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><strong>Pay Advance </strong></h4>
            </div>
            <div class="modal-body">
                <div id="py-up">
                    <div class="text-center">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
                <form id="payform">

                    {% csrf_token %}

                    <div class="row">


                        {% for field in form %}
                        <div class="col-md-6">

                            <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                            {{ field }}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="proced_pay"
                            class="btn btn-danger waves-effect waves-light save-category" data-dismiss="modal">Proceed
                            To Pay</button>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>
<div class="container-fluid pt-4 ">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Room Status Managemenet </h6>
            <form class="d-none d-md-flex ms-4">
                <input class="form-control bg-dark border-0" type="search" placeholder="Search">
            </form>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr role="row">
                        <th>Customer Full Name</th>
                        <th>Phone Number</th>
                        <th>Restaurant Bills</th>
                        <th>Rooms</th>
                        <th>Check In </th>

                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    {% for cus in customer_list %}
                    <tr class="odd" role="row">
                        <td class="sorting_1" id="user_id">{{cus.customer.full_name}}</td>

                        <td>{{cus.customer.phone_number}}</td>

                        <td>


                            {{cus.total_resturent_amount}}

                        </td>

                        <td> {% for r in cus.bookd_roooms.room_id.all %}

                            <span class="badge badge-xs badge-success">{{r.room_number|upper}}</span>
                            {% endfor %}
                        </td>


                        <td>{{cus.customer.check_in|date:"Y-m-d h : m A "}}</td>



                        <td><span>
                                <span>
                                    <button type="button" class="btn btn-success btn-sm"
                                        onclick="ad_pay({{cus.customer.id}})" id="ad_pay">Pay Advance
                                        <span class="btn-icon-start"><i class="fas fa-money-bill-wave"></i></span>
                                    </button>
                                    <button type="button" onclick="ad_check({{cus.customer.id}})" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                       Check out
                                      </button>
                                    <a href="{% url 'checkin_edit' cus.id %}" type="button"
                                        class="btn btn-primary btn-sm">Edit <span class="btn-icon-start"><i
                                                class="fas fa-clipboard"></i></span></a>
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>
{% block scripts %}

<script>
    function ad_pay(b) {
        $("#py-up").hide()

        $('#x_payment').modal('toggle')
        var user = b;

        let csr = $("input[name=csrfmiddlewaretoken]").val()



        $("#proced_pay").unbind("click").bind("click", function () {
            var amount = $("#id_Advance_amount").val();
            var paytype = $('#id_payment_type').find(':selected').val();
            var remarks = $('#id_remarks').val();
            var cred = {
                "user": user,

                "ammount": amount,
                "paytype": paytype,
                "remarks": remarks
            }
            $.ajax({
                method: 'POST',
                url: '{% url "checkout" %}',
                dataType: "json",
                headers: { "X-CSRFToken": csr, },
                data: cred,
                beforesend: function () {
                    $("#py-up").show()
                },
                success: function (response) {

                    if (response.message == "success") {
                        $("#x_payment").modal('toggle');
                        $.notify("Payment has been made ", "success");

                    } else {
                        $.notify("Payments cant made !", "alert");
                    }

                },
                complete: function () {
                    console.log("done")
                    
                    $("#py-up").hide()

                }

            });
            $("#payform")[0].reset();


        });
    }

    function ad_check(a) {
        var user = a;
        var csr = $("input[name=csrfmiddlewaretoken]").val();
        cred = { "user": a }
        $.ajax({
            method: 'POST',
            url: '{% url "check_out" %}',
            dataType: "json",
            headers: { "X-CSRFToken": csr, },
            data: cred,
            beforesend: function () {
                $("#py-up").show()
            },
            success: function (response) {

                var full_name = response.username
                var room_amount = response.room_cost
                var res_cost = response.res_cost
                var advance_amt = response.advance_amt
                var rem_blnce = response.remaing_balance
                var prev_room_disc = response.room_discount
                var prv_restu_disc = response.resturet_discount
                $("#prev_restu_disc").html(`<p class="text-dark">Previous Restaurant Discount Is: <i class="text-warning h5">${prv_restu_disc}</i></p>`)
                $("#prev_room_disc").html(`<p class="text-dark">Previous Room Discount Is: <i class="text-danger h5"> ${prev_room_disc}</i></p>`)
                $("#idss_full_name").val(full_name)
                $("#rem_blc").val(rem_blnce)
                $("#idss_organization").val(room_amount)
                $("#id_Resturent_amt").val(res_cost)
                $("#advance_amt").val(advance_amt)
                $("#res_desc").val(0)
                $("#id_room_discount").val(0)

            },
            complete: function () {
                console.log("done")
                $("#py-up").hide()

            }

        });
        $(".ky-up").keypress(function () {
            var output = '';
            var amt = 0.0;
            function rms_calc() {

                var checkbox_r = $("#check1").val();
                var rm_dis = $("#id_room_discount").val()
                var room_amount = $("#idss_organization").val();
                var res_cost = $("#id_Resturent_amt").val();
                var res_disc = $("#res_desc").val()
                var advance_amt = $("#advance_amt").val();


                var room_discount = $("#room-discount").val()
                var resturent_discount = $("#resturent_discount").val()
                var rem_blc = $("#rem_blc").val()
                console.log(vat)

                if (rm_dis !== "" && res_cost !== "") {
                    var room_disc = parseFloat(room_amount) - parseFloat(rm_dis)
                    var res_desc = parseFloat(res_cost) - parseFloat(res_disc)
                    var after_disc = room_disc + res_desc
                    console.log(after_disc)
                }
                if (checkbox_r === "true") {
                    $("#vat_count").val(after_disc * 13 / 100)
                    var vat = $("#vat_count").val()
                    var payable_amt = ((parseFloat(room_discount) + parseFloat(vat) + parseFloat(resturent_discount) + parseFloat(rem_blc) - parseFloat(advance_amt)))

                    $("#ids_total_amt").val(payable_amt)
                    var amount_paid = payable_amt - parseFloat($("#last_value").val())
                    $("#amount_paid").val(amount_paid)


                }
                else {
                    $("#vat_count").val(0)
                    var vat = $("#vat_count").val()
                    var payable_amt = ((parseFloat(room_discount) + parseFloat(resturent_discount) + parseFloat(rem_blc) - parseFloat(advance_amt)))

                    $("#ids_total_amt").val(payable_amt)
                    var amount_paid = payable_amt - parseFloat($("#last_value").val())
                    $("#amount_paid").val(amount_paid)


                }
                var inner_data = `  
            <div class="row" id ="get_data" >
            <div class="col-md-6 py-1">
                <label for="advance_amt" class="py-1 h6">Room Discount:</label>
            </div>
            <div class="col-md-6 py-1">
                <input type="text" class="form-control"  value = "${room_disc}" id="room-discount" name="room-discount"
                    placeholder="" readonly="">

            </div>

            <div class="col-md-6 py-1">
                <label for="resturent_discount" class="py-1 h6">Resturenr Discount:</label>
            </div>
            <div class="col-md-6 py-1">
                <input type="text" class="form-control" value = "${res_desc}" id="resturent_discount" name="resturent_discount"
                    placeholder="" readonly="">

            </div>
        </div>
            
            `

                output += $("#calc-details").html(inner_data)
               

            }
            

           


            $('input[type="checkbox"]').click(function () {
                if ($(this).prop("checked") == true) {
                    $(this).val("true")
                    rms_calc()
                }
                else if ($(this).prop("checked") == false) {
                    $(this).val("false")
                    rms_calc()
                }
            });

            rms_calc()

        });
        
        $("#rms_chk").unbind("click").bind("click", function () {
            var user = a;
            var resturent_discount = $("#res_desc").val()
            var room_discount = $("#id_room_discount").val()
            var vat = $("#check1").val()
            var remarks = $("#remarks").val()
            var remaing_amt = $("#amount_paid").val()


            var csr = $("input[name=csrfmiddlewaretoken]").val();
            data = {
                "user": a, "resturent_discount": resturent_discount,
                "room_discount": room_discount, "vat": vat, "remarks": remarks, "remaing_amt": remaing_amt
            }
            $.ajax({
                method: 'POST',
                url: '{% url "check_out_process" %}',
                dataType: "json",
                headers: { "X-CSRFToken": csr, },
                data: data,
                success: function (resp) {
                    console.log(resp)
                    if (resp.msg = "User Check Out sucessfully"){
                        $("#staticBackdrop").modal('toggle');
                        $.notify("User checkout successfully ", "success");

                        location.reload(true)
                       
                        
                    }else{
                        $("#brek_point").modal('toggle');
                        $.notify("User Cant checkout !!! ", "success");
                    }
                  
                   
                },
                error:function(){
                    $.notify("User cant checkou plase fill the emty value ", "error");
                        
                }
            })






        });

    }

</script>

{% endblock scripts %}


{% endblock content %}