{% extends 'base.html' %}
{% block content %}  
<!-- Sale & Revenue Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Today Room</p>
                    <h6 class="mb-0">24</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Avilable Room</p>
                    <h6 class="mb-0">4</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-area fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Room Cleaning</p>
                    <h6 class="mb-0">4</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-pie fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Booked Room</p>
                    <h6 class="mb-0">4</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sale & Revenue End -->
<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Room Status Managemenet </h6>
            {% if messages  %}
        {% for message in messages %}
        
        <div class="alert alert-{{message.tags}} " role="alert">
            {{message}}
          </div>
          {% endfor %}
          {% endif %}
        </div>
        <div class="table-responsive">
            <table class="table text-start  table-bordered table-hover mb-0" id="myTable">
                <thead>
                    <tr role="row">
                      
                        <th>Full name</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>location</th>
                        <th>IDs</th>
                        <th> Booked By </th>
                        <th> Checkin </th>
                        <th> Check Out </th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody >
                    {% for cus in customer %}

                    <tr class="odd" role="row">
                        <td>{{cus.full_name}}</td>
                        
                        <td>{{cus.phone_number|upper}}</td>
                        <td>{{cus.email}}</td>
                        <td>
                            {{cus.location|truncatechars:10}}
                        </td>
                        <td>{{cus.passport_id_number}}</td>
                        <td>{{cus.booked_by}}</td>
                        <td>{{cus.check_in}}</td>
                        <td>{{cus.check_out}}</td>
                        
                        <td>
                            <a class="btn btn-primary btn-sm" href="{% url 'room_update' cus.id %}" class="update_customer" > update</a>
                          
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Recent Sales End -->
{% endblock %} 