{% extends 'base.html' %}
{% block content %}  
<!-- Sale & Revenue Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Room In Cleaning and maintenance  </h6>
            {% if messages  %}
        {% for message in messages %}
        
        <div class="alert alert-{{message.tags}} " role="alert">
            {{message}}
          </div>
          {% endfor %}
          {% endif %}
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr role="row">
                      
                        <th>Room Number</th>
                        <th>Room Group</th>
                        <th>Room Price</th>
                        <th>Room Status</th>
                        
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody >
                    {% for cus in rooms_mainc %}

                    <tr class="odd" role="row">
                        <td>{{cus.room_number}}</td>
                        
                        <td>{{cus.group|upper}}</td>
                        <td>{{cus.price_pernight}}</td>
                        <td>
                            {% if cus.status == "available" %}
                            <span class="badge badge-xs badge-success">{{cus.status|upper}}</span>
                            {% endif %}
                            {% if cus.status == "booked" %}
                            <span class="badge badge-xs badge-danger">{{cus.status|upper}}</span>
                            {% endif %}
                            {% if cus.status == "cleaning" %}
                            <span class="badge badge-xs badge-dark">{{cus.status|upper}}</span>
                            {% endif %}
                            {% if cus.status == "reserved" %}
                            <span class="badge badge-xs badge-warning">{{cus.status|upper}}</span>
                            {% endif %}
                            {% if cus.status == "not-confirm" %}
                            <span class="badge badge-xs badge-warning">{{cus.status|upper}}</span>
                            {% endif %}
                            {% if cus.status == "maintenance" %}
                            <span class="badge badge-xs badge-warning">{{cus.status|upper}}</span>
                            {% endif %}
                        </td>

                        
                        <td><span>
                            <a class="btn btn-primary" href="{% url 'room_update' cus.id %}" class="mr-4 update_customer" ><i class="fa fa-pencil color-muted"></i> update</a>
                            </span>
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Room Status Managemenet </h6>
            {% if messages  %}
        {% for message in messages %}
        
        <div class="alert alert-{{message.tags}} " role="alert">
            {{message}}
          </div>
          {% endfor %}
          {% endif %}
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0" id="myTable">
                <thead>
                    <tr role="row">
                      
                        <th>Room Number</th>
                        <th>Room Group</th>
                        <th>Room Price</th>
                        <th>Room Status</th>
                        
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody >
                    {% for cus in allrooms %}

                    <tr class="odd" role="row">
                        <td>{{cus.room_number}}</td>
                        
                        <td>{{cus.group|upper}}</td>
                        <td>{{cus.price_pernight}}</td>
                        <td>
                            {% if cus.status == "available" %}
                            <span class="badge badge-xs badge-success">{{cus.status|upper}}</span>
                            {% endif %}
                            {% if cus.status == "booked" %}
                            <span class="badge badge-xs badge-danger">{{cus.status|upper}}</span>
                            {% endif %}
                            {% if cus.status == "cleaning" %}
                            <span class="badge badge-xs badge-dark">{{cus.status|upper}}</span>
                            {% endif %}
                            {% if cus.status == "reserved" %}
                            <span class="badge badge-xs badge-warning">{{cus.status|upper}}</span>
                            {% endif %}
                            {% if cus.status == "not-confirm" %}
                            <span class="badge badge-xs badge-warning">{{cus.status|upper}}</span>
                            {% endif %}
                            {% if cus.status == "cancled" %}
                            <span class="badge badge-xs badge-warning">{{cus.status|upper}}</span>
                            {% endif %}
                        </td>

                        
                        <td><span>
                            <a class="btn btn-primary" href="{% url 'room_update' cus.id %}" class="mr-4 update_customer" ><i class="fa fa-pencil color-muted"></i> update</a>
                            </span>
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Recent Sales End -->
{% endblock %} 