{% extends "base.html "%}

{% block content %}

            <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <a href= "{% url "checkin"%}"class="col-sm-6 col-xl-3 btn">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fas fa-user-check fa-3x text-primary"></i>
                            <div class="ms-3">
                                <h6 class="mb-0">Check In</h6>
                            </div>
                        </div>
                    </a>
                    <a href= "{% url "check_out"%}"class="col-sm-6 col-xl-3 btn">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fas fa-user-times fa-3x text-primary"></i>
                            <div class="ms-3">
                                <h6 class="mb-0">Check Out</h6>
                            </div>
                        </div>
                    </a>
                    <a href= "{% url "roommanager"%}"class="col-sm-6 col-xl-3 btn">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="far fa-store fa-3x text-primary"></i>
                            <div class="ms-3">
                                <h6 class="mb-0">Room Manager</h6>
                            </div>
                        </div>
                    </a>
                    <a href= "{% url "report"%}"class="col-sm-6 col-xl-3 btn">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="ms-3">
                                <h6 class="mb-0">Customer details </h6>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Sale & Revenue End -->


      
            <!-- Sales Chart End -->


            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Recent Customer</h6>
                        <a href="{% url "report"%}">Show All</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr role="row">
                                  
                                    <th>Full name</th>
                                    <th>Phone Number</th>
                                    <th>Email</th>
                                    <th>location</th>
                                    <th>IDs</th>
                                    <th> Booked By </th>
                                    <th> Checkin </th>
                                    <th> Check Out </th>
                                    <th>Action</th>
            
                                </tr>
                            </thead>
                            <tbody >
                                {% for cus in customer %}
            
                                <tr class="odd" role="row">
                                    <td>{{cus.full_name}}</td>
                                    
                                    <td>{{cus.phone_number|upper}}</td>
                                    <td>{{cus.email}}</td>
                                    <td>
                                        {{cus.location|truncatechars:10}}
                                    </td>
                                    <td>{{cus.passport_id_number}}</td>
                                    <td>{{cus.booked_by}}</td>
                                    <td>{{cus.check_in}}</td>
                                    <td>{{cus.check_out}}</td>
                                    
                                    <td>
                                        <a class="btn btn-primary btn-sm" href="{% url 'room_update' cus.id %}" class="update_customer" > update</a>
                                      
                                    </td>
                                </tr>
            
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Recent Sales End -->


        

{% endblock %} 